<!DOCTYPE html>
<html>
<head>
	<title>Symptoms</title>
</head>
<body>
	<h2>List of symptoms to choose from: </h2>
		<ul>
			 <li>abdominal pain</li>
 <li>abnormal menstruation</li>
 <li>acidity</li>
 <li>acute liver failure</li>
 <li>altered sensorium</li>
 <li>anxiety</li>
 <li>back pain</li>
 <li>belly pain</li>
 <li>blackheads</li>
 <li>bladder discomfort</li>
 <li>blister</li>
 <li>blood in sputum</li>
 <li>bloody stool</li>
 <li>blurred and distorted vision</li>
 <li>breathlessness</li>
 <li>brittle nails</li>
 <li>bruising</li>
 <li>burning micturition</li>
 <li>chest pain</li>
 <li>chills</li>
 <li>cold hands and feets</li>
 <li>coma</li>
 <li>congestion</li>
 <li>constipation</li>
 <li>continuous feel of urine</li>
 <li>continuous sneezing</li>
 <li>cough</li>
 <li>cramps</li>
 <li>dark urine</li>
 <li>dehydration</li>
 <li>depression</li>
 <li>diarrhoea</li>
 <li>dischromic  patches</li>
 <li>distention of abdomen</li>
 <li>dizziness</li>
 <li>drying and tingling lips</li>
 <li>enlarged thyroid</li>
 <li>excessive hunger</li>
 <li>extra marital contacts</li>
 <li>family history</li>
 <li>fast heart rate</li>
 <li>fatigue</li>
 <li>fluid overload</li>
 <li>foul smell of urine</li>
 <li>headache</li>
 <li>high fever</li>
 <li>hip joint pain</li>
 <li>history of alcohol consumption</li>
 <li>increased appetite</li>
 <li>indigestion</li>
 <li>inflammatory nails</li>
 <li>internal itching</li>
 <li>irregular sugar level</li>
 <li>irritability</li>
 <li>irritation in anus</li>
 <li>itching</li>
 <li>joint pain</li>
 <li>knee pain</li>
 <li>lack of concentration</li>
 <li>lethargy</li>
 <li>loss of appetite</li>
 <li>loss of balance</li>
 <li>loss of smell</li>
 <li>malaise</li>
 <li>mild fever</li>
 <li>mood swings</li>
 <li>movement stiffness</li>
 <li>mucoid sputum</li>
 <li>muscle pain</li>
 <li>muscle wasting</li>
 <li>muscle weakness</li>
 <li>nausea</li>
 <li>neck pain</li>
 <li>nodal skin eruptions</li>
 <li>obesity</li>
 <li>pain during bowel movements</li>
 <li>pain in anal region</li>
 <li>painful walking</li>
 <li>palpitations</li>
 <li>passage of gases</li>
 <li>patches in throat</li>
 <li>phlegm</li>
 <li>prominent veins on calf</li>
 <li>puffy face and eyes</li>
 <li>pus filled pimples</li>
 <li>receiving blood transfusion</li>
 <li>receiving unsterile injections</li>
 <li>red sore around nose</li>
 <li>red spots over body</li>
 <li>redness of eyes</li>
 <li>restlessness</li>
 <li>runny nose</li>
 <li>rusty sputum</li>
 <li>scurring</li>
 <li>shivering</li>
 <li>silver like dusting</li>
 <li>sinus pressure</li>
 <li>skin peeling</li>
 <li>skin rash</li>
 <li>slurred speech</li>
 <li>small dents in nails</li>
 <li>spinning movements</li>
 <li>spotting  urination</li>
 <li>stiff neck</li>
 <li>stomach bleeding</li>
 <li>stomach pain</li>
 <li>sunken eyes</li>
 <li>sweating</li>
 <li>swelled lymph nodes</li>
 <li>swelling joints</li>
 <li>swelling of stomach</li>
 <li>swollen blood vessels</li>
 <li>swollen extremeties</li>
 <li>swollen legs</li>
 <li>throat irritation</li>
 <li>ulcers on tongue</li>
 <li>unsteadiness</li>
 <li>visual disturbances</li>
 <li>vomiting</li>
 <li>watering from eyes</li>
 <li>weakness in limbs</li>
 <li>weakness of one body side</li>
 <li>weight gain</li>
 <li>weight loss</li>
 <li>yellow crust ooze</li>
 <li>yellow urine</li>
 <li>yellowing of eyes</li>
 <li>yellowish skin</li>

		</ul>
	
</body>
</html>